table {
	width: 100%;
	border-collapse: collapse;
    border: solid thin;
    border-color: rgba(0, 0, 0, 0.171);
    background-color: white;
    font-family: 'Trebuchet MS';
}

table td {
	padding: 10px 10px;
    vertical-align: middle;
    font-size: small;
}

table th {
	text-align: left;
	padding: 10px 10px 7px;  
    font-size: large; 
    font-weight: normal;
}

table tr {
    border: solid thin;
    border-color: rgba(0, 0, 0, 0.171);
    padding: 10px 10px 7px;
}

table tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

button {
    font-size: large;
    font-weight: normal;
    font-family: 'Trebuchet MS';
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.available {
    height: 15px;
    width: 15px;
    background-color: #55d33c;;
    border-radius: 50%;
    display: grid;
}

.selected {
    background-color: rgba(0, 0, 0, 0.11);
}
